SESSION_SECRET=l3QElHT7xzkZVIRhi2GmlkjaltLpOKe0rHAaEUYbOu06P9a2WQCZtZ0sx7RHmnAqP3RoSTNA/reb5nOIUPdFOw==

ASTERISK_AMI_SECRET=XCBtHeL60r7K
ASTERISK_AMI_USER=admin
FREEPBX_API_KEY=735b8e7cd4f476723b2a4a901d791a23ba4fc734
FREEPBX_API_TOKEN=e58bb0f11836db4e6644e1d188d2fd7ed99a6829
FREEPBX_URL=http://149.28.48.109